/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-shoutout-block  {
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;

  display: flex;

  img { 
    max-width: 200px;
    flex: 0 0 auto;
    object-fit: scale-down;
  }

  .shoutout-content {
    margin-left: 1rem;
  }
}
